@import "tailwindcss";

:root {
  --Syne-font: "Syne", sans-serif; 
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--Syne-font); 
}

html {
  scroll-behavior: smooth;
}

/* custom cursors */
.namaste-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><text y='50%' x='50%' dominant-baseline='middle' text-anchor='middle' font-size='24'>🙏</text></svg>") 16 16, auto;
}
.xp-cursor{
  cursor: url("/cursors/XPDefault.cur"), auto;
}
.xp-pointer{
  cursor: url("/cursors/XPPointer.cur"), auto;
}

